@import 'styles/utils/theme.scss';

.header {
  background-color: $white-light;
  color: $black-base;
  height: 350px;
  transition: $transitions-boom-duration height;
  @media (max-width: $theme-breakpoints-s) {
    height: 275px;
  }
  @media (max-width: $theme-breakpoints-xs) {
    height: 350px;
  }
  position: relative;
  overflow: hidden;
  &__content {
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    max-width: $theme-layout-base;
    padding: 0 2rem;
    align-items: center;
  }
  &__sub-title {
    max-width: 650px;
    color: $black-base;
    font-family: $theme-font-family-body;
  }
}
