@import './theme.scss';

.headroom-wrapper {
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0;
}

.headroom {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 1rem 1.5rem;

  svg {
    height: 2.5rem;

    g {
      fill: $white-base
    }
  }
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
  transition: $transitions-headroom-transition;
}

.headroom--scrolled {
  transition: $transitions-headroom-transition;
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
  transition: $transitions-headroom-transition;
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0);
  transition: $transitions-headroom-transition;
  background-color: $white-light;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

  nav {
    a {
      color: $black-base;

      &:hover {
        border-color: $black-base;
        color: $black-base;
      }

      &:focus {
        color: $black-base;
      }
    }
  }

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  svg {
    height: 2.5rem;

    g {
      fill: $black-base;
    }
  }

  span {
    color: $black-base;
  }
}
