@import './theme.scss';

.headroom-wrapper {
  position: fixed;
  width: 100%;
  z-index: 2000;
  top: 0;

}

.headroom {
  padding: 1rem 1.5rem;
  @media (max-width: $theme-breakpoints-xs) {
    padding: 0;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: $theme-layout-base;
    margin: 0 auto;
  }

  svg {
    height: 2.5rem;
    min-width: 114px;
    margin-right: 10px;
  }
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
  transition: $transitions-headroom-transition;

  &>.headroom__wrap {
    padding: 0.75rem 0;
    @media (max-width: $theme-breakpoints-xs) {
      padding: 0.75rem;
    }
  }
}

.headroom--scrolled {
  transition: $transitions-headroom-transition;
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
  transition: $transitions-headroom-transition;
  width: 100%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

  &>.headroom__wrap {
    padding: 0.75rem 0;
    @media (max-width: $theme-breakpoints-xs) {
      padding: 0.75rem;
    }
  }
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0);
  transition: $transitions-headroom-transition;
  background-color: $white-base;
  width: 100%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);

  &>.headroom__wrap {
    padding: 0.75rem 0;
    @media (max-width: $theme-breakpoints-xs) {
      padding: 0.75rem;
    }
  }

  padding: 0;

  svg {
    height: 2.5rem;
    min-width: 114px;
    margin-right: 10px;
    @media (max-width: $theme-breakpoints-xs) {
      min-width: 93px;
    }
  }

  span {
    color: $black-base;
  }
}
