@import '../utils/theme.scss';

.wrap {
  position: relative;
  padding-top: 1rem;
  bottom: 0;
  box-shadow: $shadow-footer;
  background-color: $white-light;
  font-family: $theme-font-family-body;
  font-weight: 500;
  &--dark {
    background-color: $black-base;
  }
  &__content {
    max-width: $theme-layout-base;
    margin: 10px auto 0;
    padding-bottom: 1.5rem;
    text-align: left;
    font-size: 12px;
    @media (max-width: 700px) {
      margin: 10px 2rem 0;
    }
    a {
      font-size: 14px;
      margin-right: 10px;
      font-weight: bold;
    }
  }
}
