@import 'styles/utils/theme.scss';
@import 'styles/utils/headroom.scss';

.headroom {
  &__link {
    display: flex;
    font-weight: 700;
    align-items: center;
    font-size: 1rem;
    font-family: $theme-font-family-body;
    color: $black-base;
    transition: none;
    &:hover {
      color: $black-base;
    }
  }
  &__navigation {
    display: flex;
    justify-content: flex-end;
    font-family: $theme-font-family-body;
    font-weight: 500;
    font-size: 1.1rem;
    align-items: center;
    &__link {
      color: $black-base;
      margin-left: 2rem;
      font-weight: 900;
      transition: color $transitions-default-duration;
      &:hover {
        color: $primary-base;
      }
      &--active {
        color: $primary-base;
      }
    }
  }
}


