@import '../utils/theme.scss';

.toggle-button {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  background-color: $white-base;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
  padding: 10px;
  left: 40px;
  bottom: 30px;
  border-radius: 100%;
  z-index: 10;
  @media (max-width: $theme-breakpoints-s) {
    left: 20px;
    bottom: 20px;
  }
}
